/* Animation */

@keyframes sliding{
    0%{
        background-color: blue;
        border: none;
        outline: none;

    }
    50%{
        background-color: red; 
        border: none;
        outline: none;
    }
    100%{
        background-color: green;
        border: none;
        outline: none;
    }
}

/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* margin and padding none */
*{
    margin: 0;
    padding: 0;
}

/* Header Style */
.m-bottom{
    margin-bottom: 100px;
}
.container{
    background-color: black;
    margin: 50px 140px;
    border-radius: 30px;
}
.div-container{
    margin: 0 4%;
}
.d-flex{
    display: flex;
    width: 99%;
}
.img-div{
    width: 48%;
}
.img-div img{
    width: 100%;
}
.h1-price{
    font-size: 297%;
    font-weight: 600;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    line-height: 178%;
}
.half-width{
    width: 45%;
}
.pad-header{
    padding: 51px 0 50px 60px;
}
.pera-style{
    color: white;
    padding-top: 20px;
}
.pera-style-1{
    color: white;
    padding-top: 20px;
    display: none;
}
.header-button{
    color: #ffffff;
    background-color: blue;
    padding: 11px 30px 11px 22px;
    font-size: 109%;
    margin-top: 21px;
    border-radius: 5px;
    animation: sliding 1s ease-in-out 0.5s infinite alternate;
}
.pad-header div{
    display: flex;
}
.fa-chevron-right{
    color: white;
    position: relative;
    top: 36px;
    right: 25px;
}


/* Section Style */


.sec-container{
    margin: 0 140px 50px 140px;
    display: flex;
}
.button-width{
    height: 210px;
    width: 232px;
    margin-right: 20px;
    background-color: black;
    padding: 7px 0px 40px 36px;
    border-radius: 10px;
}
.button-width button{
    font-size: 109%;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    border: none;
    display: block;
    align-items: center;
    margin: 16px 0;
    width: 82%;
    height: 28%;
}
.button-width button a{
    text-decoration: none;
    color: black;
}
.color-red{
    background-color: rgb(128, 214, 0);
}
.d-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    margin-bottom: 30px;
}
.transfar{
    box-shadow: 0 0 3px 1px rgb(217, 217, 217);
    border-radius: 10px;
}
.sec-img-div{
    width: 100%;
}
.sec-img-div img{
    width: 100%;
}
.transfar div button{
    padding: 3px 10px;
    margin-top: 10px;
}
.m-top{
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
}
.sec-d-flex{
    display: flex;
    align-items: center;
}
.sec-d-flex div{
    display: flex;
    align-items: center;
}
.sec-p{
    padding: 0 30px 0 5px;
}
.pad{
    padding-left: 10px;
}

/* Footer Style */

.bg-dark{
    background-color: black;
    padding: 0 6%;
}
.bg-dark h1{
    padding-top: 100px;
    color: #ffffff;
    font-size: 2.5em;
    text-align: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #808080;
}
.bg-dark ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 20px;
}
.bg-dark ul li, .bg-dark ul div li{
    color: #808080;
    list-style: none;
    font-size: 18px;
    padding-left: 40px;
}

/* -----------------
    upcoming web 
------------------ */

.d-grid div .d-flex h3{
    padding: 15px 20px 20px 20px;
    font-family: 'Poppins', sans-serif;
}
.d-grid div h3{
    padding-left: 50px;
    margin-bottom: 1em;
    font-family: 'Poppins', sans-serif;
}
.d-grid div small{
    font-family: 'Poppins', sans-serif;
    color: gray;
    padding-left: 70px;
}
.flag-border{
    box-shadow: 0 0 3px 1px rgb(187, 187, 187);
    padding-bottom: 50px;
    border-radius: 5px;
}
.facebook{
    color: #3b79ff;
    font-size: 25px;
}
.twitter{
    color: #00ACEE;
    font-size: 25px;
}
.fa-youtube{
    color: red;
    font-size: 25px;
}
.display-f{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}
.view-color{
    border-radius: 6px;
    background-color: red;
    color: white;
    font-size: 20px;
    padding: 11px 33px;
    border: none;
    display: none;
}
.center{
    justify-content: center;
    align-items: center;
    display: none;
}



/* !!-----------------
    Media Query
------------------!! */

/* Mobile */

@media only screen and (max-width: 576px) {
    
    .d-grid{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .button-width{
        position: absolute;
        top: 0;
        background-color: white;
        width: 100%;
        margin-left: 50px;
    }
    .position-relative{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .d-flex{
        display: block;
    }
    .half-width{
        width: 100%;
    }
    .mbotom{
        margin-top: 250px;
    }
    .transfar{
        width: 100%;
    }
    .bg-dark ul{
        display: block;
        text-align: center;
    }
    .m-bottom{
        margin-bottom: 20px;
    }
    .sec-container{
        margin: 0;
    }
    .container{
        margin: 30px;
    }
    .h1-price{
        font-size: 30px;
        font-weight: 700;
        line-height: 50px;
    }
    .div-container{
        margin: 1%;
    }
    .pad-header{
        padding: 10px;
    }
    .facebook{
        color: #3b79ff;
        font-size: 25px;
    }
    .twitter{
        color: #00ACEE;
        font-size: 25px;
    }
    .fa-youtube{
        color: red;
        font-size: 25px;
    }
    .display-f{
        display: flex;
        justify-content: center;
    }
    .text-center{
        text-align: center;
    }
    .pera-style{
        display: none;
    }
    .pera-style-1{
        display: flex;
    }
    .align-items{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fa-chevron-right{
        position: absolute;
        color: white;
        font-size: 20px;
        top: 230px;
        left: 145px;
    }
    .header-button{
        position: relative;
    }
    .pad-right{
        padding-right: 25px;
    }
    .d-grid .flag-border .d-flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* tablet */

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .position-relative{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .view-color{
        display: flex;
    }
    .center{
        display: flex;
    }
    .button-width{
        display: flex;
        position: absolute;
        top: 0;
        background-color: white;
        width: 100%;
    }
    .button-width button{
        margin-right: 20px;
        width: 100%;
    }
    .d-grid{
        grid-template-columns: repeat(2,1fr);
    }
    .mbotom{
        margin-top: 270px;
    }
    .container{
        margin: 26px 27px;
    }
    .h1-price{
        line-height: 60px;
        font-size: 50px;
    }
    .pad-header{
        padding: 58px 0 0 60px;
    }
    .d-grid .flag-border .d-flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* complete */